/*
    Component: header
    ---
    Main header of the website
*/

.c-header__nav {
    display: none;
}

@media (min-width: 992px) {
    .c-header {
    }

    .c-header__nav {
        display: block;
    }
}
