/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-primary-light {
    color: #5051DB !important;
}

.u-color-primary-base {
    color: #5051DB !important;
}

.u-color-primary-dark {
    color: #3E3EA8 !important;
}
